

.container{
    border: 10px solid red;
}

.calender-content{
    /* padding: 10px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }




.day-name{
    background-color: #eee;
}

.day-number{
    border: 2px solid #eee;
}


