
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size settings */
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does not work on safari or microsoft edge */
  /* scroll-behavior: smooth; */
}


.App {
  text-align: center;
}






