

.container{
    margin: 7rem 14rem;
    padding: 8rem 19rem 8.3rem 19rem;
    background-image: linear-gradient(#CB66BD,#FC575A);
    color: azure;
    font-family: 'Inter';
}

.ctn-month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;

    margin-bottom: 3.2rem;
}

.current-month {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.ctn-arrow-month{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.preview-months{
    text-transform: capitalize;
    font-size: 1.8rem;
}

.current-date {
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under
}


.calender-grid{
    /* padding: 10px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2.4rem;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }




.day-name{
    font-size: 1.8rem;
}

.day-number{
    font-size: 1.8rem;
    cursor: pointer;
}


